:root {
    --main-color: white;
    --second-color: #fd3267;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-image: url(../img/Background\ Image.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

.container img {
    margin-top: 100px;
}

.container h1 {
    margin: 70px;
    font-size: 6.4rem;
    color: var(--second-color);
}

.container > p {
    font-size: 2.7rem;
}

.container__time {
    margin: 70px auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container__time .time {
    font-size: 6.4rem;
    font-weight: bold;
    margin: 0;
}

.container__time p:last-child {
    color: var(--second-color);
    font-size: 1.2rem;
}

.container form input {
    border: 1px solid;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 1.2rem;
}

.container form input:first-of-type {
    color: var(--main-color);
    width: 25%;
    margin-right: 30px;
}

.container form input:first-of-type::placeholder {
    text-transform: uppercase;
    color: var(--main-color);
}

.container form input:last-of-type {
    border-color: var(--second-color);
    color: var(--second-color);
    width: 15%;
    text-align: left;
    text-transform: uppercase;
}